.con__card {
  width: 100%;

  /* background: #333; */
  padding: 1rem;
}
.con__card__upper {
  display: flex;
  justify-content: center;
}
.con__card__upper img {
  object-fit: cover;
  border-radius: 50%;
}
