/* index.css */

:root {
  @apply light;
}

.dark {
  --color-bg-primary: #23272a;
  --color-bg-secondary: #2c2f33;
  --color-bg-btn: #2489a9;
  --color-text-primary: #f7fafc;
  --color-text-secondary: #e2e8f0;
  --color-text-btn: #ffffff;
  --color-text-accent: #81e6d9;
}

.light {
  --color-bg-primary: #f8f8f8f8;
  --color-bg-secondary: #ffffff;
  --color-bg-btn: #2489a9;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-btn: #ffffff;
  --color-text-accent: #2b6cb0;
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
